body, * {text-align:center;font-family: 'Ubuntu', sans-serif;font-size:14px;color:#666;}
body {background:#f4f4f4;}
p {margin-bottom:10px;text-align:center;}
div {width:50%;float:left;}
img {max-width:100%;height:auto;}
header li {float:left;}
